<div class="publication-item">
  <a href="/event/{{_id}}">
    {{#if picture}}
      <img src="{{picture}}" />
    {{/if}}
    <div>
      <p>{{description}}</p>
      <h3> THIS IS A TEST TOO CHECK PARTIALS WORKING</h3>

      {{!-- <small>{{date createdAt}}</small> --}}
      <small>{{creator.name}}</small>
    </div>
  </a>

  <span>{{likeCount}}</span>
  {{#if liked}}
    <form method="POST" action="/event/{{_id}}/unlike">
      <button>Liked</button>
    </form>
  {{else}}
    <form method="POST" action="/event/{{_id}}/like">
      <button>Like</button>
    </form>
  {{/if}}

</div>