<div class="chat-list">
  <h1>List of chats</h1>
  <div class="container clearfix">

      <div class="chat">
        {{#each anotherOne}}
          <div class="chat-header clearfix">
              <img src="{{this.picture}}" alt="Profile picture" class="chat-preview" />
            <div class="chat-about">
              <div class="chat-with">
                <a href="/messages/{{this.id}}/{{this.myself}}">Go to chat with
                  {{this.name}}</a>
              </div>
              {{#if this.city}}
                <div class="short-description">{{this.jobTitle}}
                  based in
                  {{this.city}}</div>
              {{else}}
                <div class="short-description">{{this.jobTitle}}</div>
              {{/if}}
            </div>
          </div>
      {{/each}}
      </div>
    </div>
  </div>
</div>
