{{#if event.picture}}
  <img src="{{event.picture}}" alt="{{event.description}}" />
{{/if}}

<p>{{event.description}}</p>

<h1>HOLA THIS IS A TEST *************</h1>
{{!-- <form method="POST" action="/event/{{event._id}}/attend"><button>I want to
    attend</button></form>
{{#each event.attendees}}
  {{attendee}}
{{/each}} --}}
<br />

<a href="/user-profile/{{event.creator._id}}">{{event.creator.name}}</a>

<br />
<br />

{{#if userIsOwner}}

  <div>
    <a href="/event/{{event._id}}/edit" class="btn">EDIT Event</a>
  </div>
  <br />
  <br />

  <form method="POST" action="/event/{{event._id}}/delete">
    <button>Delete Event</button>
  </form>
{{/if}}

{{!  I do not understand why this was added on the Meow app}}
{{! <script src="/scripts/meow-single-script.js"></script> }}