{{#if event.picture}}
  <img src="{{event.picture}}" alt="{{event.description}}" />
{{/if}}
<h3>{{event.name}}</h3>
<p>{{event.description}}</p>

<br />

<a href="/user-profile/{{event.creator._id}}">{{event.creator.name}}</a>
{{#unless userIsAttending}}
  <form method="POST" action="/event/{{event._id}}/attend"><button>I want to
      attend</button></form>
{{/unless}}

{{#if userIsAttending}}
  <form method="POST" action="/event/{{event._id}}/unattend"><button>I don't
      want to attend anymore</button></form>
{{/if}}
<p>Coming:</p>
{{#each attendingUsers}}
  {{this.user.name}}.
{{/each}}

<br />
<br />

{{#if userIsOwner}}

  <div>
    <a href="/event/{{event._id}}/edit" class="btn">Edit event</a>
  </div>
  <br />
  <br />

  <form method="POST" action="/event/{{event._id}}/delete">
    <button>Delete event</button>
  </form>
{{/if}}

{{!  I do not understand why this was added on the Meow app}}
{{! <script src="/scripts/meow-single-script.js"></script> }}