<div class="event-edit">
  <h1>Edit event</h1>

  <form class="form6" method="POST" enctype="multipart/form-data">

    {{#if event.picture}}
      <label for="picture"> Picture </label>
      <input id="picture" type="file" accept="image/*" name="picture" />
    {{/if}}

    <label for="event-name">Title</label>
    <input
      id="event-name"
      type="text"
      placeholder="Event´s name"
      name="name"
      value="{{event.name}}"
    />

    <label for="event-type"> Type </label>
    <input
      id="event-type"
      type="text"
      placeholder="Type of event"
      name="type"
      value="{{event.type}}"
    />

    <label for="event-date"> Date </label>
    <input
      id="event-date"
      type="date"
      placeholder="Date of the event"
      name="date"
      value="{{event.date}}"
    />

    <label for="event-location"> Location</label>
    <input
      id="event-location"
      type="text"
      placeholder="Location"
      name="location"
      value="{{event.location}}"
    />

    <label for="event-description">Event info</label>
    <textarea
      id="event-description"
      placeholder="Description of your event"
      name="description"
      value="{{event.description}}"
    >{{event.description}}</textarea>

    <button>Update</button>

  </form>
</div>