<div class="container">
  <div class="event-info">
    <div class="row align-items-center">

        {{#if event.picture}}
          <img class="img-spot-details" src="{{event.picture}}" alt="{{event.description}}" />
        {{/if}}

     
        <div class="card-body">
    
            <h3>{{event.name}}</h3>
            <p>Event Description: {{event.description}}</p>
            <p>{{formatDate event.createdAt}}</p>

            <span style="margin-right:20px">Created by:</span><a href="/user-profile/{{event.creator._id}}">{{event.creator.name}}</a>
            <a href="/messages/{{event.creator._id}}/{{loggedInUser._id}}" style="margin-left:50px">Send a message to this event's creator</a>
            <br>
            <br>

          <div  class="d-flex justify-content-center">
               {{#if userIsAttending}}
                  <form method="POST" action="/event/{{event._id}}/notattend"><button type="submit" class="btn-attend">I don't
                    want to attend anymore</button></form>
                {{else}}
                <form method="POST" action="/event/{{event._id}}/attend"><button type="submit" class="btn-attend">I want to attend</button></form>
                 {{/if}}
          </div>
          <br>
          <div class="d-flex justify-content-start">
              <p>People attending this event:</p>
                {{#each attendingUsers}}
                  <a href="/user-profile/{{this.user._id}}" style="margin-left:20px">{{this.user.name}}</a>
                {{/each}}
          </div>
           <br />
           <br />

            {{#if userIsOwner}}
              <div class="user-options">
                <a href="/event/{{event._id}}/edit" class="button-edit"> <button type="submit">Edit</button></a>
                  <form method="POST" action="/event/{{event._id}}/delete">
                  <button type="submit" class="button-delete">Delete</button>
                  </form>
              </div>
            {{/if}}

        </div>

      </div>
  </div>
</div>

</div>
