<div class="send-message">
  <h1>Chat</h1>

  <form
    class="form5"
    method="POST"
    action="/messages/{{recipient._id}}/{{sender._id}}"
  >

    <label for="event-description">Create chat with {{recipient.name}}</label>
    <textarea
      id="create-chat"
      placeholder="Your message here"
      name="message"
    ></textarea>

    <button>Send</button>

  </form>
</div>

<div class="messenger1">
  {{#each messages}}

    <a href="/user-profile/{{this.sender._id}}">{{this.sender.name}}:</a>
    {{this.message}}
    <br />

  {{/each}}
</div>

{{!-- {{#each chat}}
  {{#each this}}
    {{#each participants}}
      <li>
        {{name}}
      </li>
    {{/each}}
  {{/each}}
{{/each}} --}}