<h1>MESSAGES</h1>

<form method="POST" action="/messages/{{recipient._id}}/{{sender._id}}">

  <label for="event-description">Create chat with {{recipient.name}}</label>
  <textarea
    id="create-chat"
    placeholder="Write here your message"
    name="message"
  ></textarea>

  <button>Send message</button>

</form>

{{#each messages}}
  <div class="messenger">
    {{this.sender.name}}:
    {{this.message}}
    <br />
  </div>
{{/each}}

{{!-- {{#each chat}}
  {{#each this}}
    {{#each participants}}
      <li>
        {{name}}
      </li>
    {{/each}}
  {{/each}}
{{/each}} --}}