<div class="send-message">
  <h1>Chat</h1>

  <div class="messenger1">
    {{#each messages}}
      {{#if imRecipient}}
        <div class="someone-else-message">
          <a href="/user-profile/{{this.sender._id}}">{{this.sender.name}}:</a>
          {{this.message}}

        </div>
      {{else}}
        <div class="my-own-message">
          <a href="/user-profile/{{this.sender._id}}">{{this.sender.name}}:</a>
          {{this.message}}
        </div>
      {{/if}}
    {{/each}}
  </div>

  <form
    class="form5"
    method="POST"
    action="/messages/{{recipient._id}}/{{sender._id}}"
  >

    <label for="event-description">Send a message to {{recipient.name}}</label>
    <textarea
      id="create-chat"
      placeholder="Your message here"
      name="message"
    ></textarea>

    <button>Send</button>

  </form>
</div>