<img src="{{user.picture}}" alt="{{user.name}}" />
<h1>{{user.name}}</h1>
<h3>{{user.jobTitle}} based in {{user.city}}</h3>

{{#if userIsOwner}}
<a href="/user-profile/edit">Edit Profile</a>
{{/if}}


{{!-- This was added by RAFA with the partials to show the events
by the user on his profile --}}

{{#each events}}
{{> event_partial}}
{{/each}}
