<div class="container">
  <div class="user-profileinfo"> 

      <div class="user-pictureprofile">
            <img src="{{visitedUser.picture}}" alt="{{visitedUser.name}}"/>
      </div>
      <br>
      <h1>{{visitedUser.name}}</h1>
      <h4>{{visitedUser.jobTitle}} based in {{visitedUser.city}}</h4>

      <div class="messenger">
        <a href="/messages/{{visitedUser._id}}/{{loggedUserId}}" class="btn">Send a message to {{visitedUser.name}}</a>
      </div>
      <br>
      <div class="user-options">
        {{#if userIsOwner}}
          <a href="/user-profile/edit"><buton type="submit" class="button-edit">Edit profile</a></buton>
            <form method="POST" action="/user-profile/delete">
              <buton type="submit" class="button-delete">Delete profile</button>
            </form>
        {{/if}}
      </div>


          <div class="container">
            <div class="row">
              {{#each events}}
              {{> event_partial}}
              {{/each}}
            </div>
          </div>

  </div>
</div>









